<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>com.ssafy.board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <display-name>board1_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardView</display-name>
    <servlet-name>BoardView</servlet-name>
    <servlet-class>com.ssafy.board.BoardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardView</servlet-name>
    <url-pattern>/BoardView</url-pattern>
  </servlet-mapping>
</web-app>